<div class="profile-container">
    <div class="profile-card">
      <div class="profile-header">
        <h1>Profile</h1>
      </div>
      <div class="profile-info">
        <div class="profile-item">
          <span class="label">Name:</span>
          <span class="value">{{loggedInUser.name.firstname| uppercase}}{{loggedInUser.name.lastname| uppercase}}</span>
        </div>
        <div class="profile-item">
          <span class="label">Username:</span>
          <span class="value">{{loggedInUser.username}}</span>
        </div>
        <div class="profile-item">
          <span class="label">Email:</span>
          <span class="value">{{loggedInUser.email}}</span>
        </div>
        <div class="profile-item">
          <span class="label">Phone:</span>
          <span class="value">{{loggedInUser.phone}}</span>
        </div>
        <div class="profile-item">
          <span class="label">Address:</span>
          <div class="value">
            <p>{{loggedInUser.address.city}}</p>
            <p>{{loggedInUser.address.street}}</p>
            <p>{{loggedInUser.address.number}}</p>
            <p>{{loggedInUser.address.zipcode}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>