<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-items-center d-flex">
        <i class="fas fa-shipping-fast" style="font-size:40px;"></i>
        <strong class="navbar-title" style="font-size:30px;" routerLink="">FlipKart</strong>
        <div class="form-group ms-3">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Search Product" 
            [(ngModel)]="search" 
            (input)="onSearch()" 
          />
        </div>
        <span class="fas fa-search search-icon" style="font-size:20px; cursor:pointer;"></span>
      </div>
      <div class="navbar-buttons d-flex ms-auto">
        <button class="btn btn-primary cart-btn position-relative">
          <i class="fas fa-cart-plus" style="font-size:30px;" routerLink="cart"></i>
          <div class="badge bg-danger position-absolute" style="top: -5px; right: -5px; font-size: 12px;">{{noProducts}}</div>
        </button>
        <button class="btn btn-primary profile ms-2" routerLink="/profile">Profile</button>
        <button class="btn btn-primary logout ms-2" routerLink="/logout">Log-Out</button>
      </div>
    </div>
  </header>
  